<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/common.css" />
</head>
<body>

<a href="/auto">自动开票</a><br></br>
<a href="/login">登录页</a><br></br>
<a href="/logout">登出</a><br></br>
<a href="/invoice/list">发票列表</a><br></br>
<a href="/reimburse/list">企业发票列表(如果没有企业登录,默认oxchains)</a><br></br>
<a href="/reimburse/mine/list">个人发票列表</a><br></br>
<a href="/invoice/list">发票列表</a><br></br>

</body>
</html>